<!doctype html>
<html lang="en">

<head>
   <title>Ekbire | {% block title %}Home{% endblock %}</title>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <style>
      body {
         background-color: #FFC300;
      }

      .content {
         background-color: #FFF3CC;
      }
   </style>
   {% block addtohead %}{% endblock %}
</head>

<body>
   <div class="container-sm mx-auto m-2 p-2 content">
      {% if session['logged_in'] %}
      <ul class="nav justify-content-center">
         <li class="nav-item">
            <a class="nav-link" href="/checkin">Checkin</a>
         </li>
         <li class="nav-item">
            <a class="nav-link" href="/my_checkins">My Checkins</a>
         </li>
         {% if d %}
         <li class="nav-item">
            <a class="nav-link" href="/today/{{m}}//{{d}}">Today</a>
         </li>
         {% endif %}
         <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
         </li>
      </ul>
      {% endif %}
      {% block content %}

      {% endblock %}
   </div>

   <!-- Optional JavaScript -->
   <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
   {% block afterjquery %}{% endblock %}
</body>

</html>