{% extends "base.html" %}
{% block content %}
{% if error %}
{{error}}
{% endif %}
<form name="checkinform" id="checkinform" action="{{ url_for('checkin') }}" method="post"  enctype="multipart/form-data">
  <input type="hidden" name="lat" id="lat" value=""/>
  <input type="hidden" name="lon" id="lon" value=""/>
  <input type="hidden" name="neighborhood" id="neighborhood" value=""/>
  <input type="hidden" name="locality" id="locality" value=""/>
  <input type="hidden" name="administrative_area_level_1" id="administrative_area_level_1" value=""/>
  <input type="hidden" name="country" id="country" value=""/>
  <input type="hidden" name="postal_code" id="postal_code" value=""/>
  <div class="form-group">
    <label for="where">Location</label>
    <input type="text" class="form-control" name="where" id="where" placeholder="Where are you?">
    {# this needs to be a real 'powered by google' image and I need a privacy policy and all that garbage #}
    <small id="whereHelp" class="form-text text-muted">Place search powered by <a href="https://www.google.com">Google</a>.</small>
  </div>
  <div class="form-group">
    <label for="why">Reason</label>
    <input type="text" name="why" class="form-control" id="why" placeholder="What are you doing there?">
  </div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Upload</span>
  </div>
  <div class="custom-file">
    <input name="file" type="file" id="fupload" class="custom-file-input cloudinary-fileupload" data-cloudinary-field="image_id"
       data-form-data="{'overwrite':'false'}"></input>
    <label class="custom-file-label" for="fupload">Choose file</label>
  </div>
</div>
<div class="form-check">
<input class="form-check-input" type="checkbox" id="private" name="private">
<label class="form-check-label" for="private">
  Private
</label>
</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<span class="cloudinarydone"></span>
{% endblock %}
{% block afterjquery %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{mapkey}}&libraries=places"></script>

{# So, Flask struggles a bit with refreshing static files. I've added a version # to the JS file so that I can change that and force browsers to reload the JS file #}

<script type="text/javaScript" src="{{url_for('static', filename='geo.js', version='0.2')}}"></script>
<!-- CLOUDINARY -->
<!-- <script type="text/javaScript" src="{{url_for('static', filename='cloudinary/jquery.cloudinary.js')}}"></script>
<script type="text/javaScript" src="{{url_for('static', filename='cloudinary/jquery.ui.widget.js')}}"></script>
<script type="text/javaScript" src="{{url_for('static', filename='cloudinary/jquery.fileupload.js')}}"></script> -->
<script type="text/javaScript" src="{{url_for('static', filename='cloudinary-jquery.min.js')}}"></script>
<script type="text/javaScript" src="{{url_for('static', filename='cloudinary-jquery-file-upload.min.js')}}"></script>
<!-- <script type="text/javaScript" src="{{url_for('static', filename='cloudinary/jquery.iframe-transport.js')}}"></script> -->
<script type="text/javascript">

// $(document).ready(function() {
//   $.cloudinary.config({ cloud_name: 'dtgakfvg2', secure: true});
//     $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
// });


$('.cloudinary-fileupload').unsigned_cloudinary_upload("neywzkny",
  { cloud_name: 'dtgakfvg2', tags: 'browser_uploads' },
  { multiple: true }
).bind('cloudinarydone', function(e, data) {

  $('.thumbnails').append($.cloudinary.image(data.result.public_id,
    { format: 'jpg', width: 150, height: 100,
      crop: 'thumb', gravity: 'face', effect: 'saturation:50' } ))}
);
// ).bind('cloudinaryprogress', function(e, data) {
//
//   $('.progress_bar').css('width',
//     Math.round((data.loaded * 100.0) / data.total) + '%');
//
// });
</script>
{% endblock %}
