{% extends "base.html" %}
{% block content %}
{% if session['logged_in'] %}
  Hi {{session['logged_in']}}
{% else %}
  <a href="/login" class="btn btn-primary">Login</a>
  <a href="/register" class="btn btn-secondary">Register</a>
{% endif %}
<h2>What is this?</h2>
<p>You know how the only cool parts of Facebook are being able to check in places so you can brag to your friends about all the awesome stuff you're doing and how great your life is, and then Facebook reminding you of the awesome stuff you did on this day in previous years?</p>
<p>Well, this site is JUST that part of Facebook and none of the rest.</p>
{% endblock %}
