{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block content %}
{% if error %}
{{error}}
{% endif %}
<form action="{{ url_for('login') }}" method="post">
   <input name="next" type="hidden" value="{{ request.args.get('next', '') }}" />
   <div class="form-group">
      <label for="email">Username</label>
      <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="Enter username">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
   </div>
   <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control" id="password" placeholder="Password">
      {% if error %}
      <div class="invalid-feedback">{{error}}</div>
      {% endif %}
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}