{% extends "base.html" %}
{% block content %}
{% if error %}
{{error}}
{% endif %}
<form action="{{ url_for('logout') }}" method="post">
    <button type="submit" class="btn btn-primary">Logout?</button>
</form>
{% endblock %}
