{% extends "base.html" %}
{% block content %}
{% for c, iurl in checkins %}
<div class="card mt-2">
   {% if c.location.where %}
   <div class="card-header">
      <a href="/view/{{c._id}}/checkin">{{c.location.where}}</a>
   </div>
   {% endif %}
   <div class="card-body">
      {% if iurl %}
      <img width={{iurl.1}}, height={{iurl.2}} src="{{ iurl.0 }}"/ class="img-fluid">
      {% endif %}
      <p class="card-text">{{c.why}}</p>
      {% if c.location.neighborhood %}
      <small>{{c.location.neighborhood}} {{c.location.locality}} {{c.location.administrative_area_level_1}} {{c.location.country}} {{c.location.postal_code}}</small>
      {% endif %}
      <small>{% if c.timestamp %}{{c.timestamp|datetime}}{% else %}{{c._id.generation_time|datetime}}{% endif %}</small>
   </div>
</div>
{% endfor %}
<div class="row">
   <ul class="nav justify-content-center">
      {% if next %}
      <li class="nav-item">
         <a class="nav-link" href="/my_checkins/page/{{next}}">Newer</a>
      </li>
      {% endif %}
      {% if prev %}
      <li class="nav-item">
         <a class="nav-link" href="/my_checkins/page/{{prev}}">Older</a>
      </li>
      {% endif %}
   </ul>
</div>
{% endblock %}