{% extends "base.html" %}
{% block content %}
<div class=list-group">
   {% for p,r in checkins %}
   <div class="card mt-2">
      {% if p.place %}
      <div class="card-header">
         <a href="/view/{{p._id}}/checkin">{{p.place.name}}</a>
      </div>
      {% endif %}
      <div class="card-body">
         <!-- <pre>{{p}}</pre> -->
         <p class="card-text">{{p.post}}</p>
         {% for m in p.media %}
         <img class="img-fluid" src="{{m.url}}"></img>
         {% endfor %}
         <small>{% if p.timestamp %}{{p.timestamp|datetime}}{% endif %}</small>
      </div>
   </div>
   {% endfor %}
</div>
<div class="row">
   <ul class="nav justify-content-center">
      {% if next %}
      <li class="nav-item">
         <a class="nav-link" href="/my_facebook/page/{{next}}">Newer</a>
      </li>
      {% endif %}
      {% if prev %}
      <li class="nav-item">
         <a class="nav-link" href="/my_facebook/page/{{prev}}">Older</a>
      </li>
      {% endif %}
   </ul>
</div>
{% endblock %}