{% extends "base.html" %}
{% block content %}
<h2>{{user}}'s checkins</h2>
<div class="list-group">
{% for c, iurl in checkins %}
<div class="list-group-item">
<h5 class="text-primary font-weight-bold">{{c.location.where}}</h5>
{% if iurl %}
<img width={{iurl.1}}, height={{iurl.2}} src="{{ iurl.0 }}"/ class="img-fluid">
{% endif %}
<p>{{c.why}}</p>
{% if c.location.neighborhood %}
<small>{{c.location.neighborhood}} {{c.location.locality}} {{c.location.administrative_area_level_1}} {{c.location.country}} {{c.location.postal_code}}</small>
{% endif %}
<small>{{c._id.generation_time|datetime}}</small>
</div>
{% endfor %}
</div>
{% endblock %}
