{% extends "base.html" %}
{% block content %}
{% if error %}
{{error}}
{% endif %}
<form action="{{ url_for('register') }}" method="post">
  <div class="form-group">
    {% if error %}
    <div class="invalid-feedback">{{error}}</div>
    {% endif %}
    <label for="username">Username</label>
    <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="Enter username">
    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>
    <div class="form-group">
    <label for="password2">Password Again</label>
    <input type="password" name="password2" class="form-control" id="password2" placeholder="Password again">

  </div>
  <div class="form-group">
  <label for="secretkey">Secret Key</label>
  <input type="text" name="secretkey" class="form-control" id="secretkey" placeholder="Secret Key">

</div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
