{% extends "base.html" %}
{% block content %}
{% for c, iurl in checkins %}
<div class="card mt-2">
   <div class="card-header">
      <a href="/view/{{c._id}}/checkin">{{c.location.where}}</a>
   </div>
   <div class="card-body">
      {% if iurl %}
      <img width={{iurl.1}}, height={{iurl.2}} src="{{ iurl.0 }}"/ class="img-fluid">
      {% endif %}
      <p class="card-text">{{c.why}}</p>
      {% if c.location %}
      {% if c.location.neighborhood %}
      <small>{{c.location.neighborhood}} {{c.location.locality}} {{c.location.administrative_area_level_1}} {{c.location.country}} {{c.location.postal_code}}</small>
      {% endif %}
      {% endif %}
      <small>{% if c.timestamp %}{{c.timestamp|datetime}}{% else %}{{c._id.generation_time|datetime}}{% endif %}</small>
   </div>
</div>
{% endfor %}
{% endblock %}