{% extends "base.html" %}
{% block content %}
{% if c %}
<h5 class="text-primary font-weight-bold"><a href="">{{c.location.where}}</a> <small><a href="/raw/{{c._id}}/checkin">(raw)</a></small></h5>
{% if iurl %}
<img width={{iurl.1}}, height={{iurl.2}} src="{{ iurl.0 }}"/ class="img-fluid">
{% endif %}
<p>{{c.why}}</p>
{% if c.location.neighborhood %}
<small>{{c.location.neighborhood}} {{c.location.locality}} {{c.location.administrative_area_level_1}} {{c.location.country}} {{c.location.postal_code}}</small>
{% endif %}
<small>{{c._id.generation_time|datetime}}</small>
{% else %}
<p class="lead">Checkin not found!</p>
{% endif %}
{% endblock %}