{% extends "base.html" %}
{% block content %}
{% if c %}
<pre>{{c}}</pre>
<small><a href="/view/{{pk}}/checkin">(view)</a></small>
{% else %}
<p class="lead">Checkin not found!</p>
{% endif %}
{% endblock %}